.navbar-container {
  width: 100%;
  background-color: #292c36;
  color: #fff;
}

.navbar-brand-custom {
  padding: 0.5rem 1.5rem; /* Increased padding as per request */
}

.nav-link {
  color: #fff;
  padding: 0.5rem 1rem;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #00cc66;
  text-decoration: none;
}

.logout-btn {
  margin-left: 20px;
  background-color: #ff6666;
  border: none;
  transition: background-color 0.3s;
}

.logout-btn:hover {
  background-color: #ff3333;
  text-decoration: none;
}

@media screen and (max-width: 992px) {
  .navbar-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
  }
  .navbar-toggle {
    order: 1; /* cela déplace le toggle (menu burger) vers la droite */
  }
}
