.navbar-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 300px; /* Augmenter la largeur pour le bureau */
  z-index: 2000;
  overflow: hidden;
  transition: left 0.3s ease-out; /* Ajout d'une transition lors du mouvement de la barre */
}

.sidebar-nav {
  background-color: #292c36;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  transition: transform 0.3s ease-out;
}

.navbar-trigger {
  position: fixed;
  top: 2.5%;
  left: 1%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 2100;
  color: white; /* Ajout d'une couleur pour voir le bouton burger */
}

.navbar-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.navbar-header {
  width: 100%;
  padding: 20px 0;
  flex: 0.2; /* Donner de la flexibilité pour permettre l'espacement */
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); /* Ajout d'une bordure subtile en bas */
  margin-bottom: 15px; /* Espacement sous le logo */
}

.navbar-logo {
  width: 80%; /* 50% de la largeur de son conteneur parent (c'est-à-dire .navbar-brand) */
  height: auto; /* Ajuste automatiquement la hauteur pour maintenir le ratio de l'image */
  max-width: 250px; /* Limite la largeur maximale pour éviter que le logo ne devienne trop grand sur les écrans larges */
  filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.1));
}

.nav-link {
  color: #fff;
  display: flex;
  align-items: center;
  gap: 13px;
  width: 100%;
  padding: 12px 32px;
  border-radius: 4px;
  transition: background-color 0.2s ease;
  font-weight: 500;
  margin: 5px 0;
}

.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 12px 22px;
  color: #00cc66;
  text-decoration: none;
}

/* Styles spécifiques du navigateur */
.navbar-collapse {
  align-items: baseline !important;
  padding-top: 45px;
  flex-grow: 1;
  align-items: center;
}

.navbar > .container,
.navbar > .container-fluid,
.navbar > .container-lg,
.navbar > .container-md,
.navbar > .container-sm,
.navbar > .container-xl,
.navbar > .container-xxl {
  display: flex;
  flex-wrap: initial;
}
.logout-btn {
  width: 50%;
  text-align: center;
  border: 2px solid rgba(255, 255, 255, 0.1);
  font-weight: bold;
  margin-top: 15px;
  max-width: 250px;
}

.balance-banner {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: #292c36;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  text-decoration: none;
}

.balance-banner:hover {
  color: #00cc66;
}

.sidebar-nav .navbar-nav {
  flex: 0.9 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.sidebar-nav .nav-item {
  width: 100%;
  margin-bottom: 10px;
}

.sidebar-nav .nav-link {
  padding: 10px 20px;
  border-radius: 4px;
  transition: background-color 0.2s ease;
}

.sidebar-nav .nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.sidebar-nav,
.navbar-content,
.sidebar-nav .navbar-nav {
  align-items: flex-start;
}

.navbar > .container,
.navbar > .container-fluid,
.navbar > .container-lg,
.navbar > .container-md,
.navbar > .container-sm,
.navbar > .container-xl,
.navbar > .container-xxl {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100% !important;
  flex-direction: column;
}

@media (max-width: 992px) {
  .navbar-container {
    width: 100%;
    height: 60vh;
    overflow: hidden;
  }

  .navbar-collapse {
    display: flex; /* Rétablissement du flex pour le desktop */
  }

  .sidebar-nav {
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    transform: none !important;
  }

  .navbar-content {
    flex-direction: row;
    justify-content: center;
  }

  .sidebar-nav .navbar-nav {
    flex-direction: row;
    justify-content: center;
  }

  .nav-link {
    justify-content: center;
  }

  .nav-link:hover {
    padding: 8px 20px; /* Vous pouvez ajuster ceci si nécessaire */
  }
}

@media (max-width: 767px) {
  .navbar-container {
    width: 100%;
    height: 60vh;
  }

  .navbar-collapse {
    display: block; /* Utilisez block pour les mobiles, comme discuté précédemment */
  }

  .sidebar-nav {
    flex-direction: column;
    height: 100%;
    width: 100%;
    transform: none !important;
  }
}

@media (max-width: 576px) {
  .navbar-container {
    height: 90vh;
  }

  .sidebar-nav {
    height: auto;
    flex-direction: column;
    justify-content: flex-start;
    padding: 15px;
  }

  .sidebar-nav .navbar-nav {
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    gap: 10px;
  }

  .navbar-logo {
    max-width: 180px;
  }

  .nav-link {
    justify-content: center;
  }
}

@media (max-width: 474px) {
  .navbar-container {
    height: 100vh;
  }

  .balance-banner {
    width: 22%;
    height: 8.5%;
    font-size: 9.5px;
  }

  .sidebar-nav {
    height: auto;
    flex-direction: column;
    justify-content: flex-start;
    padding: 15px;
  }

  .sidebar-nav .navbar-nav {
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    gap: 10px;
  }

  .navbar-logo {
    max-width: 150px;
  }
}
