.wallet-container {
    width: 100%;
    padding: 20px;
    background-color: #1C2331; /* Couleur sombre */
    color: #FFFFFF; /* Blanc */
    height: 100vh;
}

.wallet-content {
    border: 1px solid #2E344E;
    border-radius: 5px;
    padding: 1rem;
    margin-top: 2rem;
}

.crypto-list {
    list-style-type: none;
    padding: 0;
}

.crypto-item {
    border: 1px solid #2E344E;
    margin: 0.5rem 0;
    padding: 0.5rem;
    border-radius: 5px;
    font-weight: 500;
}

button {
    background-color: #FFC107;
    color: #1C2331;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 1rem;
    transition: 0.3s;

    &:hover {
        background-color: #FFD54F;
    }
}

.crypto-dropdown {
    margin-top: 1rem;
}

.feedback-message {
    margin: 20px;
    padding: 10px;
    border: 1px solid #28a745;
    background-color: rgba(40, 167, 69, 0.1);
    color: #28a745;
    border-radius: 5px;
}

