.App {
  text-align: center;
}

.navbar-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 200px;
  background-color: #f8f9fa;
  padding: 20px;
}

.navbar-container .btn {
  color: #fff; /* Couleur du texte */
  background-color: #007bff; /* Couleur de fond */
  border: none; /* Supprime la bordure */
  border-radius: 0; /* Supprime les coins arrondis */
  transition: background-color 0.3s; /* Animation lors du survol */
}

.navbar-container .btn:hover {
  background-color: #0056b3; /* Nouvelle couleur de fond au survol */
  text-decoration: none; /* Supprime le soulignement au survol */
}