.App {
  text-align: center;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  --bs-gutter-x: 0rem;
  max-width: 100%;
}

@media (min-width: 576px) {
  .container,
  .container-sm {
    max-width: 100%;
  }
}

@media screen and (max-width: 992px) {
  .content {
    padding-top: 62px; /* Ajustez cette valeur si nécessaire pour éviter la bande blanche */
  }
}
